* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
  font-feature-settings: "palt";
}

.text {
  font-size: clamp(24px, 10vw, 100px) /* 最小値、中間値、最大値 */;
  line-height: clamp(24px, 10vw, 100px);
  text-transform: uppercase; /* 文字を全て大文字にする */
}

.box {
  width: clamp(50px, 10vw, 300px);
  height: clamp(50px, 10vw, 300px);
  background-color: #333;
  text-align: center;
  line-height: clamp(50px, 10vw, 300px);
  color: #fff;
  margin: 8px;
}

.container {
  max-width: 1000px;
  width: 100%;
  min-width: 250px;
  border: solid 2px skyblue;
}
